.containerChairs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 70%;
  margin: 10px auto;
}

.chair {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 12px;
  border-radius: 16px;
  width: 150px;
  gap: 10px;
}

.chair h3 {
  font-weight: bold;
  font-size: 18px;
}

.chairHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.livre {
  background-color: #e3f0e8;
  color: #3c6f4f;
  min-width: 60px;
  height: 26px;
  border-radius: 20px;
  text-align: center;
  padding: 4px;
  font-weight: bold;
}

.ocupado {
  background-color: #fbe6e4;
  color: #bb341e;
  min-width: 60px;
  height: 26px;
  border-radius: 20px;
  text-align: center;
  padding: 4px;
  font-weight: bold;
}

.quantidade_lugares {
  color: #987f78;
  font-size: 14px;
}

.containerBotoesFiltro {
  display: flex;
  gap: 10px;
  width: 70%;
  margin: 10px auto;
}

.containerBotoesFiltro button {
  min-width: 70px;
  border-radius: 20px;
  background-color: #f4ece3;
  border: 1px solid #ccc;
  height: 38px;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.containerBotoesFiltro button:hover {
  background-color: #e9dfd2;
  transform: scale(1.05);
  cursor: pointer;
}

.containerBotoesFiltro button:active {
  animation: pulse 0.3s ease-out;
}

.filtroAtivo {
  background-color: var(--color-primary-dark) !important;
  color: #fff;
}

.filtroInativo {
  background-color: #f4ece3 !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
