.containerChairs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  margin: 10px auto;
}

.chair {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 12px;
  border-radius: 16px;
  width: 150px;
  gap: 10px;
}

.chair h3 {
  font-weight: bold;
  font-size: 18px;
}

.chairHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.livre {
  background-color: #e3f0e8;
  color: #3c6f4f;
  min-width: 60px;
  height: 26px;
  border-radius: 20px;
  text-align: center;
  padding: 4px;
  font-weight: bold;
}

.ocupado {
  background-color: #fbe6e4;
  color: #bb341e;
  min-width: 60px;
  height: 26px;
  border-radius: 20px;
  text-align: center;
  padding: 4px;
  font-weight: bold;
}

.quantidade_lugares {
  color: #987f78;
  font-size: 14px;
}
